* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 15vh;
	width: 100%;
	background-color: white;
}

#image-icon {
	height: 13vw;
}

.links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 90vw;
	font-size: 1.3em;
}

.links :nth-child(1) {
	justify-content: center;
	align-items: center;
}

.nav-link-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 15vw;
	height: 13vh;
	/* border: solid; */
	contain: content;
}

#nav-icon {
	width: 4vw;
}

a {
	list-style: none;
	text-decoration: none;
	color: black;
}

body {
	background-color: white;
}
/* #FFEBD0 
#F9E6D3
#fba92c
#6d466b
#ffb043
#17616e*/

.home-page {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2vh;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 20vh;
}

.platform-container,
.studio-container {
	width: 45vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.platform-icon {
	width: 5vw;
	height: 9vh;
	margin-top: 20px;
}

.studio-icon {
	width: 8vw;
	height: 10vh;
}

#downButtonNav {
	text-align: center;
	z-index: 1;
}

#downButton {
	height: 4vh;
	width: 2vw;
	position: fixed;
	cursor: pointer;
}

.home-page-text {
	border-color: red;
	border: solid;
	display: flex;
	border-width: 2px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 49vw;
	height: 90vh;
	background-color: #ffebd0;
	font-size: 2vw;
	font-family: monospace;
}

.home-page-image {
	border-color: blue;
	border: solid;
	border-width: 2px;
	width: 49vw;
	height: 90vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	contain: content;
}

.container:nth-child(1) .home-page-image {
	background-image: url(https://media.rawg.io/media/games/bf7/bf73b105ccbba42107986bbcd96fcada.jpg);
}

.container:nth-child(2) .home-page-image {
	background-image: url(https://media.rawg.io/media/games/7df/7dfbdcb58a03fcddc68479454fc1f7de.jpg);
}

.container:nth-child(3) .home-page-image {
	background-image: url(https://media.rawg.io/media/games/5ec/5ecac5cb026ec26a56efcc546364e348.jpg);
}

.modal {
	width: 49.5vw;
	height: 80vh;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0.6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.modal:hover {
	opacity: 0;
	cursor: pointer;
}

.modal h1 {
	color: white;
	opacity: 1;
	font-size: 1.3vw;
}

.game-catalog-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 2vh;
	padding-bottom: 2vh;
	justify-content: space-evenly;
	gap: 3vw;
	background-color: #e0ae52;
}

.game-catalog-container .modal {
	height: 30vh;
	width: 25vw;
}

.game-catalog {
	display: flex;
	justify-content: center;
	align-items: center;
	border-color: blue;
	border: solid;
	border-width: 2px;
	width: 20vw;
	height: 25vh;
	contain: content;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	contain: content;
}

.game-image {
	min-height: 17vh;
	min-width: 17vw;
}

.genre-page-catalog {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.genres-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding-top: 10vh;
	list-style: none;
	font-size: 0.8vw;
}

.genre {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	height: 30vh;
	width: 20vw;
	cursor: pointer;
}

.genreImage {
	width: 20vw;
	height: 25vh;
	border: solid;
	border-color: black;
}

.genreImage:hover {
	animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.genreTitle {
	display: flex;
	border: solid;
	border-width: 0.1em;
	align-items: center;
	justify-content: center;
	width: 20vw;
	height: 5vh;
}

@keyframes slide-top {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-25px);
	}
}
